.container {
    position: relative;
    display: table;
    width: 250px;
    height: 300px;
    background-color: #bfc3c6;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 50px;
    border-radius: 0 20px 20px 20px;
}

.buttons {
    /* background-color: #1F2605 !important;
    border: none; */
    margin-left: 40px;
}

.buttonsRow {
    position: absolute;
    bottom: 40px;
    left: 40px;
}