.main {
    background-color: #DFE2E5;
    border-top: solid 2px #61DAFB;
}

.foto {
    margin-top: 10px;
    height: 1400px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    margin-top: 70px;
}

.main div {
    position: relative;
    min-height: 1510px;
}