.mainDiv {
    background-color: #dfe2e5;
    padding: 20px;
    min-height: 94.8vh;
    border-top: solid 2px #61DAFB;
}

.tasksRow {
    margin-bottom: 20px;
    min-width: 100%;
}

.buttonsRow {
    position: relative;
    background-color: #ffffff;
    margin: 0px auto;
    max-width: 900px;
    padding: 20px;
    justify-content: center;
    border-radius: 20px;
}

.pagination {
    min-width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.reveal {
    font: italic bold 80px 'Times New Roman';
    color: #BFC3C6;
    text-shadow: 7px 0 5px #003a84;
    margin-top: 70px;
}

.tasksCol {
    display: flex;
    justify-content: center;
}

.pageLink {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    margin-left: 13px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.pageLink a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.pageLink:hover {
    background-color: whitesmoke;
}