.Form {
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px auto;
}

.datePicker {
    color: rgb(0, 0, 0);
}

.input {
    background-color: #F0F2F5 !important;
}

.buttons {
    /* background-color: #45BD62 !important; */
    margin-left: 25px;
}